:root[data-theme="dark"]{

  --bg:#050505;

  --surface:#0f0f0f;

  --card:#151515;

  --text:#ffffff;

  --gradient-main:
    linear-gradient(
      135deg,
      #000000,
      #052c18,
      #00d26a
    );
}

:root[data-theme="light"]{

  --bg:#ffffff;

  --surface:#f5fff8;

  --card:#ffffff;

  --text:#101010;

  --gradient-main:
    linear-gradient(
      135deg,
      #ffffff,
      #ecfff4,
      #00d26a
    );
}
