:root{

  --primary:#00d26a;
  --primary-light:#27f18c;
  --primary-dark:#00994d;

  --radius-sm:12px;
  --radius-md:18px;
  --radius-lg:24px;

  --spacing-xs:8px;
  --spacing-sm:12px;
  --spacing-md:16px;
  --spacing-lg:24px;

  --transition:0.3s ease;
}
